.fond {
    position: relative;
    box-sizing: border-box;
    &_block {
        display: flex;
        flex-direction: column;
        &_left {
            order: 1;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 42px;
            &_item {
                box-sizing: border-box;
                border: 1px solid rgba(255, 255, 255, 0.15);
                border-radius: 13px;
                width: calc(50% - 5px);
                height: 108px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                & .default {
                    display: block;
                }
                & .hover {
                    display: none;
                }
                &:first-child {
                    & img {
                        width: 91px;
                    }
                }
                &:nth-child(2) {
                    & img {
                        width: 50px;
                    }
                }
                &:nth-child(3) {
                    & img {
                        width: 57px;
                    }
                }
                &:nth-child(4) {
                    & img {
                        width: 76px;
                    }
                }
                &:hover {
                    & .default {
                        display: none;
                    }
                    & .hover {
                        display: block;
                    }
                }
            }
        }
        &_right {
            order: 2;
            margin-top: 15px;
            & h3 {
                font-family: 'RF Tone';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 40px;
                color: #FFFFFF;
            }
            & p {
                font-family: 'RF Tone';
                font-weight: 300;
                font-size: 12px;
                line-height: 30px;
                color: #FFFFFF;
                margin-top: 10px;
            }
            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                width: 100%;
                height: 45px;
                background: #2E00E4;
                border-radius: 10px;
                margin-top: 20px;
                & span {
                    font-family: 'RF Tone';
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }
    }
    &_statistics {
        margin-top: 90px;
        &_item {
            box-sizing: border-box;
            padding: 30px 20px;
            margin-top: 10px;
            background: transparent;
            border: 1px solid #2C2B36;
            border-radius: 16px;
            &:nth-child(3) {
                padding: 9px 20px 20px 20px;
            }
            &:nth-child(4) {
                padding: 20px 20px 20px 20px;
            }
            &_num {
                display: flex;
                align-items: flex-end;
                & h4 {
                    font-family: 'RF Tone';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 60px;
                    letter-spacing: -0.02em;
                    background: linear-gradient(147.38deg, #4A60DB -19.92%, #B2E2E4 28.5%, #E4F5F6 78.34%, #CFC0C3 104.88%), #FFFFFF;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    margin-right: 10px;
                }
                & span {
                    font-family: 'RF Tone';
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 40px;
                    background: linear-gradient(101.6deg, #4A60DB -1.66%, #B2E2E4 29.1%, #E4F5F6 60.77%, #CFC0C3 77.64%), linear-gradient(260.42deg, #FFFFFF 56.34%, rgba(255, 255, 255, 0) 133.46%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
            &_text {
                font-family: 'RF Tone';
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: rgba(255, 255, 255, 0.8);
                margin-top: 15px;
            }
            &_top {
                display: flex;
                align-items: flex-end;
                & span {
                    font-family: 'RF Tone';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 100px;
                    background: linear-gradient(239.08deg, #4A60DB -5.03%, #B2E2E4 42.74%, #E4F5F6 91.92%, #CFC0C3 118.11%), linear-gradient(256.45deg, #FFFFFF 40.29%, rgba(255, 255, 255, 0) 83.63%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    display: block;
                    margin: 0px 8px;
                }
                & p {
                    font-family: 'RF Tone';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 40px;
                    background: linear-gradient(101.6deg, #4A60DB -1.66%, #B2E2E4 29.1%, #E4F5F6 60.77%, #CFC0C3 77.64%), linear-gradient(260.42deg, #FFFFFF 56.34%, rgba(255, 255, 255, 0) 133.46%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    transform: translateY(-20px);
                }
            }
            &_mid {
                & p {
                    font-family: 'RF Tone';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    color: rgba(255, 255, 255, 0.8);
                }
            }
            &_bottom {
                display: flex;
                align-items: flex-end;
                margin-top: 2px;
                & h4 {
                    font-family: 'RF Tone';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 100px;
                    background: linear-gradient(239.08deg, #4A60DB -5.03%, #B2E2E4 42.74%, #E4F5F6 91.92%, #CFC0C3 118.11%), linear-gradient(256.45deg, #FFFFFF 40.29%, rgba(255, 255, 255, 0) 83.63%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    margin-right: 10px;
                }
                & span {
                    font-family: 'RF Tone';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 100px;
                    background: linear-gradient(239.08deg, #4A60DB -5.03%, #B2E2E4 42.74%, #E4F5F6 91.92%, #CFC0C3 118.11%), linear-gradient(256.45deg, #FFFFFF 40.29%, rgba(255, 255, 255, 0) 83.63%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
            &_title {
                font-family: 'RF Tone';
                font-weight: 400;
                font-size: 28px;
                line-height: 40px;
                background: linear-gradient(101.6deg, #4A60DB -1.66%, #B2E2E4 29.1%, #E4F5F6 60.77%, #CFC0C3 77.64%), linear-gradient(260.42deg, #FFFFFF 56.34%, rgba(255, 255, 255, 0) 133.46%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
            &_block {
                margin-top: 10px;
                & img {
                    display: none;
                }
                & p {
                    font-family: 'RF Tone';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 35px;
                    color: rgba(255, 255, 255, 0.8);
                    margin-top: 10px;
                }
            }
            &_mob {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
    @media (min-width: 768px) {
        &_statistics {
            &_item {
                &_text {
                    width: 100%;
                }
                &_mid {
                    & p {
                        width: 100%;
                    }
                }
            }
        }
        
    }
    @media (min-width: 1200px) {
        &_block {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 92px;
            &_left {
                width: 482px;
                order: 2;
                margin-top: 0px;
                &_item {
                    height: 152px;
                    width: calc(50% - 7.5px);
                    margin-top: 15px;
                    &:first-child {
                        margin-top: 0px;
                        & img {
                            width: auto;
                        }
                    }
                    &:nth-child(2) {
                        margin-top: 0px;
                        & img {
                            width: auto;
                        }
                    }
                    &:nth-child(3) {
                        & img {
                            width: auto;
                        }
                    }
                    &:nth-child(4) {
                        & img {
                            width: auto;
                        }
                    }
                }
            }
            &_right {
                width: 585px;
                order: 1;
                margin-top: 0px;
                & h3 {
                    font-size: 36px;
                    line-height: 40px;
                }
                & p {
                    font-size: 18px;
                    line-height: 34px;
                    margin-top: 25px;
                }
                & a {
                    width: 224px;
                    margin-top: 36px;
                }
            }
        }
        &_statistics {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            &_item {
                margin-top: 0px;
                padding: 52px 20px 28px 20px;
                &_num {
                    & span {
                        font-size: 36px;
                        line-height: 40px;
                    }
                }
                &_text {
                    font-size: 14px;
                    line-height: 28px;
                    margin-top: 8px;
                }
                &_top {
                    & span {
                        margin-top: 0px;
                        font-size: 72px;
                        margin: 0px 18px;
                    }
                    & p {
                        font-size: 36px;
                        line-height: 40px;
                    }
                }
                &_mid {
                    margin-top: 38px;
                    & p {
                        font-size: 18px;
                        line-height: 40px;
                        font-weight: 400;
                    }
                    
                }
                &_bottom {
                    margin-top: 30px;
                    & h4 {
                        font-size: 72px;
                        line-height: 100px;
                    }
                    & span {
                        font-size: 72px;
                        line-height: 100px;
                    }
                }
                &_title {
                    font-size: 40px;
                    line-height: 40px;
                }
                &_block {
                    display: flex;
                    align-items: center;
                    & img {
                        display: block;
                    }
                    & p {
                        margin-left: 30px;
                        width: 486px;
                        font-size: 18px;
                        line-height: 35px;
                    }
                }
                &_mob {
                    display: none;
                }
                &:first-child {
                    width: calc(29% - 8px);
                }
                &:nth-child(2) {
                    width: calc(32% - 8px);
                }
                &:nth-child(3) {
                    width: calc(39% - 8px);
                    padding: 35px 20px 35px 20px;
                }
                &:nth-child(4) {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    padding: 35px 20px 35px 20px;
                    width: calc(61% - 4px);
                }
            }
        }
    }
    @media (min-width: 1440px) {
        &_statistics {
            &_item {
                &_text {
                    font-size: 16px;
                    line-height: 30px;
                }
                &_bottom {
                    margin-top: 35px;
                }
            }
        }
    }
    @media (min-width: 1536px) {
        &_block {
            &_right {
                width: 780px;
                & h3 {
                    font-size: 48px;
                    line-height: 53px;
                }
                & p {
                    font-size: 24px;
                    line-height: 45px;
                }
            }
        }
        &_statistics {
            &_item {
                padding: 52px 30px 28px 30px;
                &:nth-child(3) {
                    padding: 35px 30px 35px 30px;
                }
                &:nth-child(4) {
                    padding: 35px 30px 35px 30px;
                }
            }
        }
    }
    @media (min-width: 1920px) {
        &_block {
            margin-top: 142px;
            &_left {
                width: 642px;
                &_item {
                    height: 200px;
                    width: calc(50% - 10px);
                    margin-top: 20px;
                }
            }
        }
        &_statistics {
            margin-top: 130px;
            &_item {
                &:first-child {
                    width: calc(29% - 12px);
                    padding: 70px 0px 38px 50px;
                }
                &:nth-child(2) {
                    width: calc(32% - 12px);
                    padding: 70px 0px 38px 50px;
                }
                &:nth-child(3) {
                    width: calc(39% - 12px);
                    padding: 50px 0px 86px 44px;
                }
                &:nth-child(4) {
                    width: calc(61% - 5px);
                    padding: 46px 0px 46px 50px;
                }
                &_num {
                    & h4 {
                        font-size: 96px;
                        line-height: 96px;
                        margin-right: 17px;
                    }
                    & span {
                        font-size: 48px;
                        line-height: 53px;
                        transform: translateY(-10px);
                    }
                }
                &_text {
                    font-size: 21px;
                    line-height: 40px;
                    margin-top: 10px;
                }
                &_top {
                    & span {
                        font-size: 96px;
                        line-height: 133px;
                    }
                    & p {
                        font-size: 48px;
                        line-height: 53px;
                        transform: translateY(-30px);
                    }
                }
                &_mid {
                    margin-top: 30px;
                    & p {
                        font-size: 24px;
                        line-height: 53px;
                    }
                }
                &_bottom {
                    margin-top: 34px;
                    & h4 {
                        font-size: 96px;
                        line-height: 134px;
                    }
                    & span {
                        font-size: 96px;
                        line-height: 133px;
                    }
                }
                &_title {
                    font-size: 48px;
                    line-height: 53px;
                }
                &_block {
                    & p {
                        font-size: 24px;
                        line-height: 47px;
                        width: 524px;
                    }
                }
            }
        }
    }
}
