@keyframes marqueeLeft {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
      }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes marqueeRight {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
      }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes change-color {
    0% {
        color: rgba(255, 255, 255, 0.3);
    }
    100% {
        color: rgba(255, 255, 255);
    }
    // 100% {
    //     color: rgba(255, 255, 255, 0.3);
    // }
  }

.hero_text {
    &_block {
        overflow-x: hidden;
        position: relative;
        &_item {
            display: flex;
            align-items: center;
            &_wrap {
                display: flex;
                align-items: center;
                animation: marqueeLeft 10s linear infinite;
            }
            & p {
                white-space: nowrap;
                font-family: 'RF Tone';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 50px;
                color: rgba(255, 255, 255, 0.3);
                margin: 0px 20px;
                &.first_word {
                    animation-name: change-color;
                    animation-duration: 0.5s;
                    animation-iteration-count: 1;
                    animation-direction: alternate;
                    animation-timing-function: ease-out;
                    animation-fill-mode: forwards;
                    animation-delay: 8s;
                }
            }
        }
    }
}

