@keyframes marqueeTopLead {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
      }
    100% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@keyframes marqueeBottomLead {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
      }
      100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
      }
}

.leaders {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &_row {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 280px;
            background: linear-gradient(359.9deg, #070613 23.58%, rgba(7, 6, 19, 0) 99.91%);
            z-index: 2;
            -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
            transform: matrix(1, 0, 0, -1, 0, 0);
        }
        &::before {
            content: "";
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 280px;
            background: linear-gradient(359.88deg, #070613 23.59%, rgba(7, 6, 19, 0) 99.9%);
            z-index: 2;
        }
        &_item {
            min-width: 100px;
            margin: 0px 7.5px;
            & img {
                width: 100%;
                margin-top: 15px;
            }
            &:nth-child(even) {
                & .leaders_row_item_wrap {
                    animation: marqueeTopLead 52s linear infinite;
                }
            }
            &:nth-child(odd) {
                & .leaders_row_item_wrap {
                    animation: marqueeBottomLead 52s linear infinite;
                }
            }
        }
    }
    &_block {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: rgba(7, 6, 19, 0.46);
            width: 287.64px;
            height: 262.12px;
            filter: blur(43.2536px);
        }
        & h2 {
            font-family: 'RF Tone';
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            position: relative;
            z-index: 3;
        }
    }
    @media (min-width: 768px) {
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        height: 100vh;
        position: relative;
    }
    @media (min-width: 1200px) {
        &_row {
            box-sizing: border-box;
            padding: 0px 100px;
            max-width: 1600px;
            &_item {
                margin: 0px 20px;
                & img {
                    margin-top: 40px;
                }
            }
        }
        &_block {
            &::after {
                width: 697px;
                height: 551px;
            }
            & h2 {
                font-size: 36px;
                line-height: 30px;
            }
        }
    }
    @media (min-width: 1920px) {
        &_row {
            padding: 0px 0px;
            &_item {
                & img {
                    margin-top: 45px;
                }
            }
        }
    }
}