.main {
    position: relative;
    box-sizing: border-box;
    padding: 155px 0px 92px 0px;
    background: url(../img/main/back_mob.png);
    background-position: -8px 54px;
    background-size: 442px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    &_block {
        display: flex;
        align-items: center;
        flex-direction: column;
        &_under_title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            & p {
                margin-left: 5px;
                font-family: 'RF Tone';
                font-weight: 400;
                font-size: 12px;
                line-height: 28px;
                color: #FFFFFF;
            }
        }
        & h1 {
            font-family: 'RF Tone';
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
            text-align: center;
            color: #D1D1D3;
            margin-top: 17px;
            &.desktop {
                display: none;
            }
            &.mobile {
                display: block;
            }
            & span {
                background: linear-gradient(111.95deg, #9EB6E2 -54.17%, #B2E2E4 5.54%, #A4BCE0 69.71%, #4561E0 95.46%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
        &_description {
            font-family: 'RF Tone';
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
            margin-top: 12px;
        }
        & form {
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            & label {
                position: relative;
                font-family: 'RF Tone';
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                color: #FFFFFF;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                & .country {
                    position: absolute;
                    left: 20px;
                    top: 36px;
                    z-index: 2;
                    &::after {
                        content: "";
                        position: absolute;
                        right: -20px;
                        top: -6px;
                        width: 1px;
                        height: 28px;
                        background-color: #FFFFFF;
                    }
                }
                & input {
                    width: 100%;
                    height: 45px;
                    box-sizing: border-box;
                    background: linear-gradient(353.74deg, rgba(255, 255, 255, 0.04) 5.33%, rgba(255, 255, 255, 0) 95.47%);
                    border: 1px solid #FFFFFF;
                    backdrop-filter: blur(5px);
                    border-radius: 10px;
                    font-family: 'RF Tone';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 45px;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    padding: 0px 20px 0px 105px;
                    margin-top: 10px;
                }
            }
            & button {
                background: #2E00E4;
                backdrop-filter: blur(5px);
                border-radius: 10px;
                height: 45px;
                width: 100%;
                font-family: 'RF Tone';
                font-weight: 600;
                font-size: 14px;
                line-height: 45px;
                text-align: center;
                color: #FFFFFF;
                margin-top: 25px;
            }
        }
    }
    &::after {
        content: "";
        position: absolute;
        left: 0px;
        top: 96px;
        background: rgba(125, 131, 255, 0.2);
        filter: blur(150px);
        height: 200px;
        width: 100%;
    }
    @media (min-width: 576px) {
        background: url(../img/main/back.png);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    @media (min-width: 768px) {
        &_block {
            & h1 {
                &.desktop {
                    display: block;
                }
                &.mobile {
                    display: none;
                }
            }
        }
    }
    @media (min-width: 1200px) {
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        align-items: flex-end;
        height: 630px;
        padding: 0px 0px 102px 0px;
        &::after {
            top: 176px;
        }
        &_block {
            &_under {
                &_title {
                    & p {
                        font-size: 14px;
                        line-height: 28px;
                        margin-left: 10px;
                    }
                }
            }
            & h1 {
                font-size: 45px;
                line-height: 60px;
                margin-top: 20px;
            }
            &_description {
                font-size: 16px;
                line-height: 28px;
                width: 644px;
                margin-top: 10px;
            }
            & form {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                width: 564px;
                & label {
                    width: 295px;
                    font-size: 12px;
                    line-height: 14px;
                    margin-top: 54px;
                    & input {
                        font-size: 16px;
                    }
                    & .country {
                        top: 38px;
                    }
                }
                & button {
                    width: 258px;
                    margin-top: 0px;
                    font-size: 16px;
                }
            }
        }
    }
    @media (min-width: 1920px) {
        background: url(../img/main/back.png);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 840px;
        padding: 0px 0px 138px 0px;
        &_block {
            &_under_title {
                & p {
                    margin-left: 15px;
                    font-size: 19px;
                    line-height: 37px;
                }
            }
            & h1 {
                font-size: 60px;
                line-height: 80px;
                margin-top: 26px;
            }
            &_description {
                font-size: 21px;
                line-height: 37px;
                width: 810px;
            }
            & form {
                width: 750px;
                & label {
                    font-size: 16px;
                    line-height: 19px;
                    width: 393px;
                    margin-top: 70px;
                    & .country {
                        top: 52px;
                    }
                    & input {
                        margin-top: 13px;
                        height: 60px;
                    }
                }
                & button {
                    width: 344px;
                    font-size: 20px;
                    height: 60px;
                }
            }
        }
    }
}