@keyframes marqueeTop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
      }
      100% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
      }
}

@keyframes marqueeBottom {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
      }
      100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
      }
}

.unicorn {
    box-sizing: border-box;
    position: relative;
    &_back {
        display: none;
    }
    &_block {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        &_right {
            position: relative;
            display: flex;
            justify-content: space-between;
            order: 1;
            height: 458px;
            overflow-y: hidden;
            &::before {
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 80px;
                background: linear-gradient(360deg, #070613 0%, rgba(7, 6, 19, 0) 100%);
                z-index: 2;
                transform: matrix(1, 0, 0, -1, 0, 0);
            }
            &::after {
                content: "";
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 100%;
                height: 80px;
                background: linear-gradient(360deg, #070613 0%, rgba(7, 6, 19, 0) 100%);
                z-index: 2;
            }
            &_row {
                width: calc(50% - 10px);
                position: relative;
                &_wrap {
                    &_first {
                        animation: marqueeTop 42s linear infinite;
                    }
                    &_second {
                        animation: marqueeBottom 42s linear infinite;
                    }
                }
                & img {
                    width: 100%;
                    max-width: 399px;
                    margin-top: 20px;
                }
            }
        }
        &_left {
            order: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            &_logo {
                display: flex;
                align-items: center;
                &_icon {
                    width: 50px;
                }
                &_text {
                    width: 210px;
                    margin-left: 15px;
                }
            }
            & p {
                font-family: 'RF Tone';
                font-weight: 300;
                font-size: 12px;
                line-height: 30px;
                text-align: center;
                color: #FFFFFF;
                margin-top: 13px;
            }
            &_btns {
                position: relative;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
                margin-top: 32px;
                & a {
                    box-sizing: border-box;
                    width: 168px;
                    border: 1px solid #A6A6A6;
                    display: flex;
                    height: 50px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    & img {
                        width: 124px;
                    }
                }
                &_qr {
                    width: 52px;
                    height: 52px;
                    box-sizing: border-box;
                    border: 1px solid #A6A6A6;
                    opacity: 1;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    cursor: pointer;
                    display: none;
                    &.hide {
                        opacity: 0;
                    }
                }
                &_qr_big {
                    display: none;
                    background: #070613;
                    border: 1px solid #A6A6A6;
                    border-radius: 10px;
                    box-sizing: border-box;
                    padding: 18px;
                    margin-left: 10px;
                    cursor: pointer;
                    &.active {
                        display: block;
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        &_back {
            display: block;
            width: 1018px;
            position: absolute;
            right: -300px;
            top: 0px;
        }
        &_block {
            flex-direction: row;
            align-items: center;
            &_left {
                order: 1;
                align-items: flex-start;
                width: 515px;
                min-width: 515px;
                &_logo {
                    &_icon {
                        width: 64px;
                    }
                    &_text {
                        width: 210px;
                        margin-left: 22px;
                    }
                }
                & p {
                    text-align: left;
                    font-size: 18px;
                    line-height: 30px;
                    margin-top: 40px;
                }
                &_btns {
                    margin-top: 40px;
                    justify-content: flex-start;
                    position: relative;
                    & a {
                        width: 166px;
                        & img {
                            width: 124px;
                        }
                    }
                    &_qr {
                        display: flex;
                        margin-left: 10px;
                        &_big {
                            position: absolute;
                            left: 166px;
                            & img {
                                width: 100px;
                            }
                        }
                    }
                }
            }
            &_right {
                order: 2;
                margin-left: 162px;
                position: relative;
                height: 660px;
            }
        }
    }
    @media (min-width: 1440px) {
        &_back {
            right: -200px;
        }
    }
    @media (min-width: 1680px) {
        &_back {
            right: -100px;
        }
    }
    @media (min-width: 1920px) {
        &_back {
            width: 1000px;
            right: 0px;
        }
    }
}