@keyframes animeAboutTrust {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }


.venture {
    box-sizing: border-box;
    position: relative;
    &_block {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 32px;
        &_text {
            order: 2;
            & h2 {
                font-family: 'RF Tone';
                font-weight: 400;
                font-size: 20px;
                line-height: 40px;
                color: #FFFFFF;
            }
            & p {
                font-family: 'RF Tone';
                font-weight: 300;
                font-size: 12px;
                line-height: 30px;
                color: #FFFFFF;
                margin-top: 10px;
            }
            & a {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 45px;
                background: #2E00E4;
                border-radius: 10px;
                margin-top: 30px;
                & span {
                    font-family: 'RF Tone';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }
        &_img {
            order: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 46px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                max-width: 456px;
                height: 269px;
                background: rgba(125, 131, 255, 0.2);
                filter: blur(200px);
            }
            & img {
                width: 100%;
            }
        }
    }
    @media (min-width: 1200px) {
        &_block {
            flex-direction: row;
            align-items: center;
            margin-top: 14px;
            &_text {
                min-width: 623px;
                width: 623px;
                order: 1;
                opacity: 0;
                transform: translateX(-150px);
                & h2 {
                    font-size: 36px;
                    line-height: 50px;
                }
                & p {
                    font-size: 18px;
                    line-height: 40px;
                    margin-top: 20px;
                }
                & a {
                    width: 224px;
                    height: 45px;
                }
            }
            &_img {
                order: 2;
                opacity: 0;
                transform: translateX(150px);
            }
            &.animationHead {
                & .venture_block_text {
                    opacity: 1;
                    transform: translateX(0px);
                    transition: all 0.5s linear;
                }
                & .venture_block_img {
                    opacity: 1;
                    transform: translateX(0px);
                    transition: all 0.5s linear;
                }
            }
        }
    }
}